@font-face {
    font-family: 'amboyw00-regularregular';
    src: url('assets/fonts/amboy_w00_regular-webfont.woff2') format('woff2'),
    url('assets/fonts/amboy_w00_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Candara';
    src: url('assets/fonts/Candara.woff2') format('woff2'),
    url('assets/fonts/Candara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    /*test color*/
    /*background-color: grey;*/

    width: 100%;

    margin: 0;
}

header{
    font-family: 'amboyw00-regularregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;

    /*test color*/
    /*background-color: blue;*/

    max-width: 90%;

    margin: 0 auto;

    border-bottom: 1px solid black;

    font-size: 8vw;
    font-size: 32px;

    text-align: center;
}

nav{
    max-width: 90%;

    /*test color*/
    /*background-color: red;*/

    margin: 0 auto;

    margin-top:10px;

    height: auto;
}

.burger{
    float: left;
}

.cart{
    float: right;
}

main{
    margin-top:50px;
    text-align: center;
}

main img{
    width: 80%;
    margin: 0 auto;
}

footer {
    position:fixed;

    bottom:0;

    width: 100%;

    padding: 10px 10px;   /* Height of the footer */

    background-color:black;

    text-align: center;

    color:white;

    font-family: 'Candara', Arial, sans-serif;

    font-size: 14px;

    font-weight:bold;
}



